.bgImg {
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: url('./imgs/imgBg.png') no-repeat;
    background-size: cover;
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        .img1{
            margin-top: 30px;
            // width: 100vw;
            // height: 261px;
        }
        .img2{
       
            // background-size: 100vw 20vw;
            // width: 100vw;
            // height: 261px;
        }
    }
  }
