

// 配置 babel
{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets" : {
                    "node" : "current"
                }
            }
        ]
    ]
}